

<article class="row">
    <div class="col-sm-12 row title">
        <a href="/post/{{id}}" class="col-sm-6">{{title}}</a>
        <p class="col-sm-6 text-right">posted by {{user.username}} on {{format_date created_at}}</p>   
    </div>       

    <div class="col-sm-12 content">
        {{content}}
    </div>
</article>
